*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

body{
  background-color: #9AEBA3;
  background-size: cover;
  background-position: center;
}

.img{
  width: 150px;
  
}

.App{
  text-align: center;
  padding: 20px ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.weatherCard{
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
  width: 300px;
  border-radius: 6px;
  padding: 10px;
  background-color: #45C4B0;
  opacity: 85%;
}

p{
  margin-bottom: 10px;
  font-size: 60px;
  color: #012030;
}

.weatherCard ul{
  list-style: none;
  margin-bottom: 10px;
}

button{
  width: 80px;
  border-radius: 6px;
  border: none;
  background-color: #DAFDBA;
  margin-bottom: 10px;
}

b{
  color: #012030;
}

